<div class="row m-4">
  <% @flats.each do |flat| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to flat_path(flat) do %>
        <div class="card-trip">
          <%= cl_image_tag flat.photo.key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= flat.title %></h2>
              <p><%= flat.description.truncate(60) %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= flat.price.to_i %></h2>
            <% if flat.user.avatar.key.present? %>
              <%= cl_image_tag flat.user.avatar.key, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <%= image_tag "generic-user.jpg", class: "card-trip-user avatar-bordered" %>
            <% end %>  
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= will_paginate @flats, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
