<div class="details">
    <div class="boxdetails">
      <div class="info">
        <h3><%=@flat.title%></h3>
        <p><%=@flat.address%></p>
      </div>
      <div class="description">
        <p><%=@flat.description%></p>
      </div>
    </div>
    <div class='box'>
      <div>
        <p>start_date</p>
        <p>end_date</p> 
      </div>
      <div class="price_booking">
        <div>
          <p><i class="fas fa-dollar-sign"></i> <%=@flat.price%></p>
        </div>  
        <div class="booking_button">
          <%= link_to "Book Now!", new_flat_booking_path(@flat), class: "btn btn-primary btn-lg"%>
        </div>
      </div>
    </div>
  </div>
