<div class="details">
    <div class="boxdetails">
      <div class="info">
        <h3><%=@flat.title%></h3>
        <p><%=@flat.address%></p>
      </div>
      <div class="description">
        <p><%=@flat.description%></p>
      </div>
    </div>
    <div class='box'>
      <ul>
        <div class="price">
        <p><i class="fas fa-dollar-sign"></i> <strong><%=@flat.price%></strong> p/day.</p>
        </div> 
        <div class="booking_button">
        <%= link_to "Book Right Now!", new_flat_booking_path(@flat), class: "btn btn-primary btn-lg"%>
      </div>
    </ul>  
    </div>
  </div>
