<div class="container">  
<br>
<h3><%=@flat.title%></h3>
  <hr>
  <p><%=@flat.address%></p>
  <div>
    <%= render 'components/carousel' %>
  </div>
  <hr>
  <%= render 'components/infoshow' %>
  <hr>
  <%= render 'components/map' %>
  <hr>
  <%= render 'components/buttons' %>
</div>
