<div class="container">

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Flats</a>
  </li>
</ul>
<hr>
<h3>Your bookings</h3>
  <div class="my-bookings">
    <%= render 'components/card-booking' %>
    <%= link_to "Book your new adventure now!", root_path(@flat), class: "btn btn-primary btn-lg active"%>
  </div>
  <hr>
  <h3>Your flats</h3>
   <div class="my-flats">
      <%= render 'components/card-flat' %>
        <%= link_to "Add a new flat to your collection!", new_flat_path(@flat), class: "btn btn-primary btn-lg active"%>
       
  </div>
  <hr>
  <div class="go_back"><%= link_to "", root_path, class: "fas fa-backward"%></div>
</div>