<div class="container">

<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Flats</a>
  </li>
</ul>
<hr>
<h3>Your bookings</h3>
  <div class="my-bookings">
    <%= render 'components/card-booking' %>
    <%= link_to 'Book your new adventure!', root_path, class: "btn btn-flat" %>
  </div>
  <hr>
  <h3>Your flats</h3>
   <div class="my-flats">
    <%= render 'components/card-flat' %>
    <%= link_to 'Add a new flat to your collection!', new_flat_path, class: "btn btn-flat" %>
  </div>
  <hr>
  <%= link_to "Back to home.", root_path, class: "btn btn-outline-success"%>
</div>
